@tailwind base;
@tailwind components;
@tailwind utilities;

.font-arial
{
 font-family: Arial, Helvetica, sans-serif;
}

.contact-link {
    color: white; /* Default text color */
    text-decoration: none; /* Remove underline from the link */
  }
  
  .contact-link:hover {
    color: rgb(84, 171, 243); /* Text color changes to blue on hover */
  }

  .absolute1 img {
    top: 2300px; /* Adjust the padding value as needed */
    position: absolute;
    right: 0px;
    width: 900px;
  }
  .absolute2 img{
    top: 1820px; /* Adjust the padding value as needed */
    position: absolute;
    right: 0px;
    width: 900px;
    z-index: 1000;
  }

  .img-contaier{
    margin-top: 55px;
    display: flex;
    position: relative;
    top:-190px;
   
 
 }
 .img-contaier img{
 width: 100%;
 
 }
 .mobile-contaier1{
    display: flex;
    /* background-color: aqua; */
    position: absolute;
    top:900px;
    right:200px;
    height: 900px;
   
  }


 .mobile-contaier{
   display: flex;
   /* background-color: aqua; */
   position: absolute;
   top:900px;
   right:100px;
   height: 900px;
  
 }
 
 .image-button{
   position: absolute;
   display: flex;
   top:1550px;
   left:50px;
   gap: 20px;
  
 }
 
 .ai-shopping{
   display: flex;
   position:absolute;
   width:100%;
   height: 510px;
   top:900px;
   /* background-color: aqua; */
   margin-left: 50px;
 }
 .ai-shopping h1{
    color: white;
    font-size: 54px;
    margin-left: 50px;
    font-style: bold;
    font-family: sans-serif;
 }
 
 .button3{
   position :relative;
   display: flex;
   padding: 10px 20px;
   top: 160px;
   background-color:transparent;
   opacity: 0.8;
   color: rgb(255, 255, 255);
   justify-content:space-between;
   /* border-radius: 5px; */
   border: 2px solid  rgb(34, 118, 245);
   /* border-color: rgb(34, 118, 245); */
   cursor: pointer;
   box-shadow: none;
   height: 50px;
   width:150px;
   font-size: 19px; 
   border-width:3px ;
   left: -350px;
 }
 .ai-shopping img{
   display: flex;
   position: relative;
   top: 50px;
   right:-410px;
 }
 .ai-shopping p{
   display: flex;
   position: absolute;
   color:white;
   font-family: sans-serif;
   font-size: 20px;
   top:300px
   
 }

.container{
  
    position: absolute;
    display: flex;
    align-items: center;
     left: 0;
     bottom: 0; 
     right: 0;
     color: white;
     font-size: 24px; 
     border-color:white; 
  
  }
  
  .trust{
    
    width: 190px;
    z-index: 10000;
    margin-left: 40px;
   
  }
  .trust p{
    color: rgb(175, 172, 172);
    font-family: sans-serif;
    font-size: 18px;
    width: 190px;
    z-index: 10000;
    margin-left: 20px;
  } 
  
.-mt-5{
    position: absolute;
    top: 1770px;
    display: flex;
    width: 100%;
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-ease-in {
    animation: fadeIn ease-in 1s; /* Apply animation with 3s duration and ease-in timing function */
  }